<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>DomoMaker</title>
  <link rel="shortcut icon" href="/assets/img/favicon.png" />
  <link rel="stylesheet" type="text/css" href="/assets/style.css" />
</head>

<body>
  <nav>
    <div id="pfpSpot"></div>
    <h2 id="username">DEFAULT</h2>
    <div class="navlink"><a href="/scribble">Scribble!</a></div>
    <div class="bottom">
      <div class="navlink"><a id="changePassButton" href="/changePassword">Change Password</a></div>
      <div class="navlink"><a href="/logout">Log out</a></div>
    </div>
  </nav>
  <section id="scribContainer">

  </section>

  <div id="domoMessage" class='hidden'>
    <img id="speech" src="/assets/img/speech.png" alt="speech box" />
    <h3><span id="errorMessage"></span></h3>
    <img id="domo" src="assets/img/domo.png" alt="domo" />
  </div>
  <script src="/assets/appBundle.js"></script>
</body>

</html>