<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>ScribbleSwap</title>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body> 
  <nav class="non-maker">
  <div class="navlink"><a href="/maker">View Inbox</a></div>
  <div class="navlink"><a href="/logout">Log out</a></div>
  </nav>
  
  <section id="content">

  </section>

  <div id="message" class='hidden'>
    <img id="speech" src="/assets/img/speech.png" alt="speech box"/>
    <h3><span id="errorMessage"></span></h3>
  </div>
  <script src="/assets/passBundle.js"></script>
</body>
</html>