<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>ScribbleSwap</title>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>
    <section class="container">
        <div id="toolbar">
            <h1>Draw</h1>
            <label for="stroke">Pen Color</label>
            <input id="stroke" name='stroke' type="color">
            <label for="lineWidth">Line Width</label>
            <input id="lineWidth" name='lineWidth' type="number" value="5">
            <button id="clear">Clear</button>
        </div>
        <div class="drawing-board">
            <canvas id="drawing-board"></canvas>
        </div>
    </section>
    <script src="/assets/scribbleBundle.js"></script>
</body>
</html>
